

<div class="row">

  <div class="columns small-12">

    <h1>Add New Art Spot</h1>

    <% if @errors %>
      <div class="panel callout alert">
        <ul>
          <% @errors.each do |error|%>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <%end%>

    <%= form_for(@spot) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </div>

      <div class="field">
        <%= f.label :location %><br />
        <%= f.text_field :location %>
      </div>

      <div class="field">
        <%= f.file_field :photo %>
        <%#= f.label :photo %><br />
        <%#= f.text_field :photo %>
      </div>

      <div class="field">
        <%= f.label :artist %><br />
        <%= f.text_field :artist %>
      </div>

      <div class="actions">
        <%= f.submit "Add Spot" %>
      </div>
    <% end %>

  </div>
<div>
