<div class="row">
  <div class="columns medium-8 medium-centered">

    <h1 class="page-header">Add New Art Spot</h1>

    <% if @errors %>
      <div class="panel callout alert">
        <ul>
          <% @errors.each do |error|%>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <%end%>

    <%= form_for(@spot, :html => { :class => 'form' }) do |f|  %>
      <div class="field">
        <%= f.label :name, :class => "label" %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :description, :class => "label" %><br />
        <%= f.text_field :description %>
      </div>

      <div class="field">
        <%= f.label :location, :class => "label" %><br />
        <%= f.text_field :location %>
      </div>

      <div class="field">
        <%= f.label :photo, :class => "label" %><br />
        <%= f.file_field :photo %>
      </div>

      <div class="field">
        <%= f.label :artist, :class => "label" %><br />
        <%= f.text_field :artist %>
      </div>

      <div class="actions">
        <%= f.submit "Add Spot", :class => "button form-submit" %>
      </div>
    <% end %>

  </div>
<div>
