<div class="row">
  <div class="columns medium-8 medium-centered">

    <h1 class="page-header">Add New Art Spot</h1>

    <% if @errors %>
      <div class="panel callout alert">
        <ul>
          <% @errors.each do |error|%>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <%end%>

    <%= form_for(@spot, :html => { :class => 'form', :id => "new_spot_form" }) do |f|  %>
      <div class="field">
        <%= f.label :name, class: "label" %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :description, class: "label" %><br />
        <%= f.text_field :description %>
      </div>

      <div class="field">
        <%= f.label :location, :class => "label" %><br />
        <%= f.text_field :location, :onblur => "geocodeAddress()" %>
      </div>

      <div class="field">
        <%= f.label :photo, class: "label" %><br />
        <%= f.file_field :photo %>
      </div>

      <div class="field">
        <%= f.label :artist, class: "label" %><br />
        <%= f.text_field :artist %>
      </div>

      <%= f.hidden_field :location_lat %>
      <%= f.hidden_field :location_lng %>

      <div class="actions">
        <%= f.submit "Add Spot", class: "button form-submit" %>
      </div>
    <% end %>

  </div>
<div>

<script>

  const geocodeAddress = () => {
    console.log("hit");
    let mapsGeocodeUrl = 'https://maps.googleapis.com/maps/api/geocode/json?address=',
        address = document.getElementById('spot_location').value,
        lat = document.getElementById('spot_location_lat'),
        lng = document.getElementById('spot_location_lng'),
        apiKey = '&key=AIzaSyASya2rxJ2koyx9Btw--HV9_qLA2zYS9G8',
        apiCall = mapsGeocodeUrl + address;

    fetch(apiCall,{
      mode: 'cors'
    })
      .then(data => {
        if (data.ok) {
          return data;
        } else {
          let errorMessage = `${data.status} (${data.statusText})`,
              error = new Error(errorMessage);
          throw(error);
        }
      })
      .then(data => data.json())
      .then(dataJson => {

        let pos = dataJson.results[0].geometry.location;
        lat.value = pos.lat;
        lng.value = pos.lng;

        debugger;


      })
      .catch(
        error => console.error(`Error in fetch: ${error.message}`)
      );
      // debugger;

  }

  let form = document.getElementById("new_spot_form")

  form.addEventListener("submit", function (event) {
    // geocodeAddress();
    debugger;
  });

</script>
