<!DOCTYPE html>
<html>
<head>
  <title>ArtsBostonia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag 'application'%>

  <%= csrf_meta_tags %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118597490-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118597490-1');
  </script>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
    </ul>

    <section class="top-bar-section">
      <%= link_to 'ArtsBostonia', new_spot_path, :class => "navlink" %>
      <ul class="right">
        <% if current_user %>
          <% if current_user.admin %>
          <li><%= link_to 'Admin', users_path, :class => "test" %></li>
          <% end %>
          <li><%= link_to '+ Add New Spot', new_spot_path, :class => "test" %></li>
          <li><%= link_to 'Activity' %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>

          <li><%= link_to edit_user_registration_path do %></li>
            <% if current_user.avatar.path == nil %>
              <%= 'Profile' %>
            <% else %>
            <img src="<%= current_user.avatar %>" class="profile-avatar image--rounded">
            <% end %>
          <% end %>


        <%-else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>


        <% end %>
      </ul>
    </section>
  </nav>

<% if !flash.empty? %>
  <div class="row">
    <div class="columns medium-8">
      <div class="panel callout text-center">

        <%- flash.each do |key, value| -%>
          <div class="flash flash-<%= key %>">
            <%= value %>
          </div>
        <%- end -%>

      </div>
    </div>
  </div>
<% end %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
